# Dictionary

In [ ]:
# Dictionary
# -Indexed
# -Duplicate or multiple data
# -Ordered
# -Mutable

In [ ]:
#d={<key>:<value>,<key>:<value>,.....}

# Ordered

In [1]:
d={'a':'apple','b':'ball','c':'cat'}
print(type(d))
print(d)

<class 'dict'>
{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [5]:
d={'a':'apple','b':'ball','c':'cat'}
print(type(d))
print(d)

<class 'dict'>
{'a': 'apple', 'b': 'ball', 'c': 'cat'}

# Indexed

In [2]:
print(d['a'])
print(d['b'])

apple
ball

In [7]:
print(d['a'])
print(d['b'])

apple
ball

# Duplicate or Multiple Data

In [8]:
d={'a':'apple','b':'ball','c':'cat','A':'apple'}
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'A': 'apple'}

In [6]:
d={'a':'apple','b':'ball','c':'cat','a':'Apple'}
d

{'a': 'Apple', 'b': 'ball', 'c': 'cat'}

In [9]:
d={'a':'apple','b':'ball,','c':'Cat', 'a':'Apple'}
print(d)

{'a': 'Apple', 'b': 'ball,', 'c': 'Cat'}

In [10]:
#d=dict{}
d={}
d['a']='Apple'
d['b']='Ball'
d['c']='Cat'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [10]:
# d=dict{}
d={}
d['a']='Apple'
d['b']='Ball'
d['c']='Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [19]:
d={}
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    phone=int(input("Enter phone="))
    d[name]=phone

print(d)

Enter n=2
Enter name=Ram
Enter phone=9851014274
Enter name=Shyam
Enter phone=9851076232
{'Ram': 9851014274, 'Shyam': 9851076232}

In [20]:
#for loop lagayera

In [23]:
for i in d:
    print(d)

{'Ram': 9851014274, 'Shyam': 9851076232}
{'Ram': 9851014274, 'Shyam': 9851076232}

In [24]:
for i in d:
    print(i)

Ram
Shyam

# for loop ma values print out garnu pareko awasthama below process

In [25]:
for i in d.values():
    print(i)

9851014274
9851076232

In [26]:
for i in d.items():
    print(i)

('Ram', 9851014274)
('Shyam', 9851076232)

# List ma append gareko awasthama below process

In [3]:
l=[]
for i in d.items()
    l.append(i):
    
print(l)

SyntaxError: expected ':' (588285511.py, line 2)

In [4]:
dict(l)

{}

In [5]:
d={'ram': 9876554, 'shyam': 987709}
d['ram']=9851014274
print(d)

{'ram': 9851014274, 'shyam': 987709}

In [6]:
d={'ram': 9876554, 'shyam': 987709}
d['Ram']=9851014274
print(d)

{'ram': 9876554, 'shyam': 987709, 'Ram': 9851014274}

# Delete, Pop (remove garnu pareko awasthama)

In [7]:
#del pop()
d={'ram': 9851014274, 'shyam': 987709}
del d['ram']
print(d)

{'shyam': 987709}

In [8]:
d={'ram': 9851014274, 'shyam': 987709}
x=d.pop('ram')
print(d)
print(x)

{'shyam': 987709}
9851014274

# Dictionery ma kunari multiply , plus, ... garna ( No multiply *, Plus+,.......)

In [18]:
d={'ram': 9851014274, 'shyam': 987709}
a={'hari':765098}
c=a+d
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [19]:
d.update(a)
print(d)

{'ram': 9851014274, 'shyam': 987709, 'hari': 765098}

# ram ko two value bhayeko awasthmama

In [20]:
#list inside dict
d={'ram': [9851014274,9851076232], 'shyam': [987709,985432098]} 
print(d)

{'ram': [9851014274, 9851076232], 'shyam': [987709, 985432098]}

In [21]:
print(d['ram'][0}

SyntaxError: closing parenthesis '}' does not match opening parenthesis '[' (3912398552.py, line 1)

In [22]:
d={}
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    ntc_phone=int(input("Enter phone="))
    ncell_phone=int(input("Enter phone="))
    d[name]=[ntc_phone, ncell_phone]
print(d)

Enter n=2
Enter name=Hari
Enter phone=9851014275
Enter phone=980111222
Enter name=Shyam
Enter phone=9851076233
Enter phone=980133444
{'Hari': [9851014275, 980111222], 'Shyam': [9851076233, 980133444]}

In [23]:
# dict inside List
l=[{'name':'Ram','age':45, 'add':'Kathmandu'},
  {'name':'Rama','age':35,'add':'Bhaktapur'},
  {'name':'Rita','age':65,'add':'Lalitpur'}]
l[2]

{'name': 'Rita', 'age': 65, 'add': 'Lalitpur'}

# l.append({'name':'Sarita','age':55,'add':'Kathmandu'})
l

In [17]:
l=[]
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    age=int(input("Enter age="))
    add=input("Enter add=")
    data={'name':name,'age':age,'add':add}
    l.append(data)
    
print(l)

Enter n=2
Enter name=Hari
Enter age=45
Enter add=Lalitpur
Enter name=Shayam
Enter age=55
Enter add=Bhaktapur
[{'name': 'Hari', 'age': 45, 'add': 'Lalitpur'}, {'name': 'Shayam', 'age': 55, 'add': 'Bhaktapur'}]