### file handling

In [ ]:
# file=open('<file_name>','<mode>')
# file.close()

# with open('<file>', '<mode>') as file:
#     <operation>

In [ ]:
# modes
# r->read
# x->create
# w->write
# a->append      # already bhairakheko data ma kehi add garne

### read mode

In [2]:
file=open('data.txt', 'x')
file.close()

FileExistsError: [Errno 17] File exists: 'data.txt'

In [3]:
try:
    file=open('data.txt', 'x')
    file.close()
except:
    print("File exists:'data.txt'")

File exists:'data.txt'

In [11]:
file=open('data.txt', 'r')
x= file.read()
print(x)
file.close()

1. Hello World
2. Hello World
3. Hello World
4. Hello World
5. Hello World
6. Hello World

In [15]:
file=open('data.txt', 'r')
x= file.read()
print(type(x))
print(x)
file.close()

<class 'str'>
Apple 300 3 300
Banana 100 2 200

In [16]:
file=open('data.txt', 'r')
x= file.read()
print(x.split('\n'))
print(type(x))
print(x)
file.close()

['Apple 300 3 300', 'Banana 100 2 200']
<class 'str'>
Apple 300 3 300
Banana 100 2 200

In [17]:
x

'Apple 300 3 300\nBanana 100 2 200'

In [19]:
all_data=[]
file=open('data.txt','r')
x=file.read().split('\n')
for i in x:
    all_data.append(i.split())
file.close()
all_data

[['Apple', '300', '3', '300'], ['Banana', '100', '2', '200']]

In [25]:
all_data=[]
file=open('data.txt','r')
x=file.read().split('\n')
for i in x:
    y=i.split()
    y[1]=int(y[1])
    y[2]=int(y[2])
    y[3]=int(y[3])
    all_data.append(y)
file.close()
all_data

[['Apple', 300, 3, 300], ['Banana', 100, 2, 200]]

### how to work in write mode (with open)

In [29]:
with open ('data. txt','w') as file:
    file.write('Hello World')

In [1]:
s=str()
i=0
all_total=0
n=int(input("Enter n="))
while i<n:
    product=input("Enter name=")
    price=int(input("Enter product price="))
    quantity=int(input("Enter quantity="))
    total=price*quantity
    all_total=all_total+total
    s=s+f"{product} {price} {quantity} {total}\n"
    i=i+1
print(s)

with open('bill.txt', 'w') as file:
    file.write(s)

Enter n=2
Enter name=Apple
Enter product price=200
Enter quantity=3
Enter name=Banana
Enter product price=100
Enter quantity=4
Apple 200 3 600
Banana 100 4 400

In [4]:
s=str()
i=0
all_total=0
n=int(input("Enter n="))
while i<n:
    product=input("Enter name=")
    price=int(input("Enter product price="))
    quantity=int(input("Enter quantity="))
    total=price*quantity
    all_total=all_total+total
    s=s+f"{product}, {price}, {quantity}, {total}\n"
    i=i+1
print(s)

with open('bill.csv', 'w') as file:
    file.write('Name,Price,Quantity,Total\n')
    file.write(s)

Enter n=2
Enter name=Apple
Enter product price=200
Enter quantity=3
Enter name=Banana
Enter product price=200
Enter quantity=1
Apple, 200, 3, 600
Banana, 200, 1, 200

In [ ]:
!pip install pandas

In [5]:
import pandas as pd
df=pd.read_csv('bill.csv')
df

     Name  Price  Quantity  Total
0   Apple    200         3    600
1  Banana    200         1    200

In [3]:
pwd

'F:\\Python_6.30-8am_Aayush Adhikari sir'