# Tuple
-Indexing
-Ordered
-Duplicate and multiple data
-Imutable

In [ ]:
# Tuple
# -Indexing
# -Ordered
# -Duplicate and multiple data
# -Imutable

# Indexing

In [1]:
a=(1,2,3,4,5)
b=tuple()
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [2]:
a=("Apple", "Ball", "Cat","Dog","Fish")
print(a[0])
print(a[1])
print(a[2])

Apple
Ball
Cat

In [4]:
a=("Apple", "Ball", "Cat","Dog","Fish")
print(a[0:4])

('Apple', 'Ball', 'Cat', 'Dog')

In [5]:
a=("Apple", "Ball", "Cat","Dog","Fish")
print(a[0:6:2])

('Apple', 'Cat', 'Fish')

In [6]:
a=("Apple", "Ball", "Cat","Dog","Fish")
print(a[0::2])

('Apple', 'Cat', 'Fish')

In [7]:
a=("Apple", "Ball", "Cat","Dog","Fish")
print(a[::2])

('Apple', 'Cat', 'Fish')

In [8]:
a=("Apple", "Ball", "Cat","Dog","Fish")
print(a[::3])

('Apple', 'Dog')

In [14]:
a=("Apple", "Ball", "Cat","Dog","Fish")
print(a[::4])

('Apple', 'Fish')

In [13]:
a="Python"
a[::-1]

'nohtyP'

In [10]:
a=("Apple", "Ball", "Cat","Dog","Fish")
print(a[::-1])

('Fish', 'Dog', 'Cat', 'Ball', 'Apple')

# Ordered

In [12]:
a=("Apple", "Ball", "Cat","Dog","Fish")
b=("Goat", "Apple")
c=a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat', 'Apple')

In [16]:
a=("Apple")
type(a)

str

In [17]:
a=("Apple", "Ball")
type(a)

tuple

In [18]:
a=("Apple",)
type(a)

tuple

# Not possible in Tuple

In [ ]:
# No append insert extend
# No update or edit
# No del remove pop

In [19]:
a=(1,2,3,4)
b=list(a)
print(b)

[1, 2, 3, 4]

In [2]:
a=(1,2,3,4)
b=list(a)
del b[0]
a=tuple(b)
print(a)

(2, 3, 4)

In [3]:
a=(1,2,3,4)
b=list(a)
del b[1]
a=tuple(b)
print(a)

(1, 3, 4)

In [4]:
a=(1,2,3,4)
b=list(a)
del b[2]
a=tuple(b)
print(a)

(1, 2, 4)

In [1]:
t=()
n=int(input("Enter n="))
for i in range(n):
    x=int(input("Enter x="))
    t=t+(x,)
print(t)

Enter n=4
Enter x=5
Enter x=6
Enter x=2
Enter x=8
(5, 6, 2, 8)

In [2]:
print("Sum=",sum(t))
print("max=", max(t))
print("min=", min(t))
print(sorted(t))
print(t)

Sum= 21
max= 8
min= 2
[2, 5, 6, 8]
(5, 6, 2, 8)

In [ ]:
x=((1,2,3),
   (4,5,6),
   (7,8,9))

In [1]:
t=()
n=int(input("Enter n=")
for i in range(n):
    name=input("Enter name=")
    age=int(input("Enter age="))
    add=input("Enter add=")
    t=t+((name,age,add),)
    
print(t)

Enter n=2
Enter name=Ram
Enter age=67
Enter add=Kathmandu
Enter name=Shyam
Enter age=34
Enter add=Bhaktapur
(('Ram', 67, 'Kathmandu'), ('Shyam', 34, 'Bhaktapur'))

In [ ]:
y=list(t)
y

In [ ]:
[('Ram', 67, 'Kathmandu'), ('Shyam', 34, 'Bhaktapur')]

In [6]:
# tuple inside list
a=[('Ram', 67, 'Kathmandu'), ('Shyam', 34, 'Bhaktapur')]

In [7]:
a.append (('Shyam', 34, 'Bhaktapur'))
print(a)

[('Ram', 67, 'Kathmandu'), ('Shyam', 34, 'Bhaktapur'), ('Shyam', 34, 'Bhaktapur')]

In [11]:
a[0]=('Rama', 34,'Bara')
print(a)

[('Rama', 34, 'Bara'), ('Shyam', 34, 'Bhaktapur'), ('Shyam', 34, 'Bhaktapur')]

In [12]:
a[0][0]="Ram"
print(a)

TypeError: 'tuple' object does not support item assignment

In [16]:
a=(('Ram', 67, 'Kathmandu'), ('Shyam', 34, 'Bhaktapur'))
l=[]
for i in a:
    l.append(list(i))
print(l)

[['Ram', 67, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]

In [17]:
a=(('Ram', 67, 'Kathmandu'), ('Shyam', 34, 'Bhaktapur'))
l=[]
for i in a:
    l.append(list(i))
    print(l)

[['Ram', 67, 'Kathmandu']]
[['Ram', 67, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]

In [18]:
a=[['Ram', 67, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]
l=()
for i in a:
    l=l+(tuple(i),)
print(l)

(('Ram', 67, 'Kathmandu'), ('Shyam', 34, 'Bhaktapur'))

In [19]:
a=[['Ram', 67, 'Kathmandu'], ['Shyam', 34, 'Bhaktapur']]
l=()
for i in a:
    l=l+tuple(i)
print(l)

('Ram', 67, 'Kathmandu', 'Shyam', 34, 'Bhaktapur')

In [ ]:
# r=?
# c=?
# input x=?
# matrix=[[1,2,3],
#        [4,5,6],
#        7,8,9]]

and

# matrix = ((1,2,3),
#          (4,5,6,),
#          (7,8,9))