In [4]:
#dict inside dict
d={1:{'name':'Ram','age: 78','add':'Kathmandu'},
   2:{'name':'Shyam','age: 78','add':'Bara'},
   3:{'name':'Sita','age: 65','add':'Kathmandu'},
   4:{'name':'Sabin','age: 35','add':'Kathmandu'}}

SyntaxError: ':' expected after dictionary key (3314926093.py, line 2)

In [5]:
d={}
n=int(input("Enter n="))
for i in range(1,n+1):
    name=input("Enter name=")
    age=int(input("Enter age="))
    add=input("Enter add=")
    d[i]={'name':name, 'age':age,'add':add}

print(d)

Enter n=3
Enter name=Ram
Enter age=78
Enter add=Kathmandu
Enter name=Shyam
Enter age=98
Enter add=Lalitpur
Enter name=Hari
Enter age=68
Enter add=Kathmandu
{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 98, 'add': 'Lalitpur'}, 3: {'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}}

In [6]:
print(d)

{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': 98, 'add': 'Lalitpur'}, 3: {'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}}

In [7]:
d

{1: {'name': 'Ram', 'age': 78, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 98, 'add': 'Lalitpur'},
 3: {'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}}

In [8]:
d[1]

{'name': 'Ram', 'age': 78, 'add': 'Kathmandu'}

In [9]:
d[1]['name']='Rama'
d

{1: {'name': 'Rama', 'age': 78, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 98, 'add': 'Lalitpur'},
 3: {'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}}

In [15]:
d[1]['name']='Rama'
d[1]['age']=45
d

{1: {'name': 'Rama', 'age': 45, 'add': 'Bara'},
 2: {'name': 'Sameer', 'age': 75, 'add': 'Lalitpur'},
 3: {'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}}

In [16]:
d[1]['name']='Rama'
d[1]['age']=45
print(d)

{1: {'name': 'Rama', 'age': 45, 'add': 'Bara'}, 2: {'name': 'Sameer', 'age': 75, 'add': 'Lalitpur'}, 3: {'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}}

In [17]:
d[1]['name']='Rama'
d[1]['age']=45
d

{1: {'name': 'Rama', 'age': 45, 'add': 'Bara'},
 2: {'name': 'Sameer', 'age': 75, 'add': 'Lalitpur'},
 3: {'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}}

In [18]:
d[1]['name']='Rama'
d[1]['add']='Bara'
print(d)

{1: {'name': 'Rama', 'age': 45, 'add': 'Bara'}, 2: {'name': 'Sameer', 'age': 75, 'add': 'Lalitpur'}, 3: {'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}}

In [11]:
d[1]['name']='Rama'
d[1]['add']='Bara'
d

{1: {'name': 'Rama', 'age': 45, 'add': 'Bara'},
 2: {'name': 'Shyam', 'age': 98, 'add': 'Lalitpur'},
 3: {'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}}

# yesai gari d2 and d3 ko name age ra add change garne H@\W

In [12]:
d[2]

{'name': 'Shyam', 'age': 98, 'add': 'Lalitpur'}

In [19]:
d[2]['name']='Sameer'
d[2]['age']=75
print(d)

{1: {'name': 'Rama', 'age': 45, 'add': 'Bara'}, 2: {'name': 'Sameer', 'age': 75, 'add': 'Lalitpur'}, 3: {'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}}

In [14]:
d[2]['name']='Sameer'
d[2]['age']=75
d

{1: {'name': 'Rama', 'age': 45, 'add': 'Bara'},
 2: {'name': 'Sameer', 'age': 75, 'add': 'Lalitpur'},
 3: {'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}}

In [20]:
d[2]['name']='Sameer'
d[2]['add']='Mahendranagar'
print(d)

{1: {'name': 'Rama', 'age': 45, 'add': 'Bara'}, 2: {'name': 'Sameer', 'age': 75, 'add': 'Mahendranagar'}, 3: {'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}}

In [21]:
d[2]['name']='Sameer'
d[2]['add']='Mahendranagar'
d

{1: {'name': 'Rama', 'age': 45, 'add': 'Bara'},
 2: {'name': 'Sameer', 'age': 75, 'add': 'Mahendranagar'},
 3: {'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}}

In [22]:
d[3]

{'name': 'Hari', 'age': 68, 'add': 'Kathmandu'}

In [23]:
d[3]['name']='Amrita'
d[3]['age']=35
print(d)

{1: {'name': 'Rama', 'age': 45, 'add': 'Bara'}, 2: {'name': 'Sameer', 'age': 75, 'add': 'Mahendranagar'}, 3: {'name': 'Amrita', 'age': 35, 'add': 'Kathmandu'}}

In [24]:
d[3]['name']='Amrita'
d[3]['age']=35
d

{1: {'name': 'Rama', 'age': 45, 'add': 'Bara'},
 2: {'name': 'Sameer', 'age': 75, 'add': 'Mahendranagar'},
 3: {'name': 'Amrita', 'age': 35, 'add': 'Kathmandu'}}

In [25]:
d[3]['name']='Amrita'
d[3]['add']='Baitadi'
print(d)

{1: {'name': 'Rama', 'age': 45, 'add': 'Bara'}, 2: {'name': 'Sameer', 'age': 75, 'add': 'Mahendranagar'}, 3: {'name': 'Amrita', 'age': 35, 'add': 'Baitadi'}}

In [26]:
d[3]['name']='Amrita'
d[3]['add']='Baitadi'
d

{1: {'name': 'Rama', 'age': 45, 'add': 'Bara'},
 2: {'name': 'Sameer', 'age': 75, 'add': 'Mahendranagar'},
 3: {'name': 'Amrita', 'age': 35, 'add': 'Baitadi'}}