# String

In [1]:
a='Python'
b="python"
c='''python'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
'''Ram said "He is a good teacher"'''

'Ram said "He is a good teacher"'

In [3]:
a="Hello World\n"
print(a*2)

Hello World
Hello World

In [4]:
a="Hello World"
a[2]

'l'

In [5]:
a="Hello World"
b=a[0:5]
c=a[5:]
print(b)
print(c)

Hello
 World

In [7]:
a="Hello World"
b=a[0:10:2]
print(b)

HloWr

# String Slicing (Break garnu/Tukryaunu)

In [8]:
a="Hello World"
b=a[0:12:2]
print(b)

HloWrd

In [9]:
a="Hello World"
b=a[0:10:2]
print(b)

HloWr

In [10]:
a="Hello World"
b=a[0:5]
c=a[5:]
print(b)
print(c)

Hello
 World

In [2]:
name= "Ram"
age=34
add="Kathmandu"
info="Hello World I am "+name+" I am from "+add+" I am "+str(age)
print(info)

Hello World I am Ram I am from Kathmandu I am 34

# String formatting

# info matra garnu bhaneko view garne matra ho

In [3]:
name="Ram"
age=34
add="Kathmandu"
info="Hello world I am {name}. I am from {add}. I am {age}"
info

'Hello world I am {name}. I am from {add}. I am {age}'

In [4]:
name="Ram"
age=34
add="Kathmandu"
info=f"Hello world I am {name}. I am from {add}. I am {age}"
info

'Hello world I am Ram. I am from Kathmandu. I am 34'

# Print (info) garnu bhaneko view garera output nikalne ho

In [5]:
name="Ram"
age=34
add="Kathmandu"
info="Hello world I am {name}. I am from {add}. I am {age}"
print(info)

Hello world I am {name}. I am from {add}. I am {age}

In [6]:
name="Ram"
age=34
add="Kathmandu"
info=f"Hello world I am {name}. I am from {add}. I am {age}"
print(info)

Hello world I am Ram. I am from Kathmandu. I am 34

# String formatting

In [10]:
s=str()
all_total=0
i=0
n=int(input("Enter n="))
while i<n:
    product=input("Enter name=")
    price= int(input("Enter product price="))
    quantity=int(input("Enter quantity="))
    total=price*quantity
    all_total=all_total+total
    s=s+f"{product} {price} {quantity} {total}\n"
    i=i+1
    print(s)
    print("All total=",all_total)

Enter n=1
Enter name=Apple
Enter product price=444
Enter quantity=2
Apple 444 2 888

All total= 888

# String formatting( for i in range)

In [6]:
a="Ram Shyam Hari Nita Ram"
if "Ram" in a:
    print("Yes")
else:
    print("No")

Yes

In [3]:
a="Ram Shyam Hari Nita Ram"
name=input("Enter name=")
if "Ram" in a:
    print("Yes",a.count("Ram"))
else:
    print("No")

Enter name=Ram
Yes 2

In [18]:
a="Ram Shyam Hari Nita Ram"
name=input("Enter name=")
if name in a:
    print("Yes",a.count(name))
else:
    print("No")

Enter name=Ram
Yes 2

# String formatting
# String is imutable datatype

In [19]:
a="Ram Shyam Hari Nita Ram"
print(a.lower())
print(a)

ram shyam hari nita ram
Ram Shyam Hari Nita Ram

In [20]:
a="Ram Shyam Hari Nita Ram"
a=a.upper()
a

'RAM SHYAM HARI NITA RAM'

In [5]:
a="Ram Shyam Hari Nita Ram".lower()
name=input("Enter name=").lower()
if name in a:
    print("Yes",a.count(name))
else:
    print("No")

Enter name=ram
Yes 2

# String ma kehi kura hataunuparya ra rakhnu bhane ko (replace)

In [7]:
a="Ram Shyam Hari Nita Ram"
a.replace('Ram','Rama')

'Rama Shyam Hari Nita Rama'

In [11]:
a="Ram Shyam Hari Sita Nita Ram"
a=a.replace('Ram','Rama')
print(a)

Rama Shyam Hari Sita Nita Rama

In [12]:
a="Ram Shyam Hari Sita Nita Ram"
a=a.replace('Ram','')
print(a)

 Shyam Hari Sita Nita

# Home Work 
# WAP to search any value in a string and replace it by using replace function [In 5] ma