# List

In [ ]:
Python collection
# -List
# -Tuple
# -Dict
# -Set

In [ ]:
# # -List
# -Indexing
# -Ordered
# -Duplicate and multiple Values
# -Mutable

In [1]:
a=["Apple","Ball","Cat","Dog","Fish"]
print(type(a))

<class 'list'>

In [2]:
a=["Apple","Ball","Cat","Dog","Fish"]
print(type(a))
print(a)

<class 'list'>
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [3]:
a=["Apple","Ball","Cat","Dog","Fish"]
b=[1,2,3,4,5,6,7,8,9,0]
print(type(a))
print(a)

<class 'list'>
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [4]:
print(len(a))

5

In [5]:
a=["Apple","Ball","Cat","Dog","Fish"]
print(a[0])
print(a[-1])

Apple
Fish

In [6]:
a=["Apple","Ball","Cat","Dog","Fish"]
print(a[0:4])

['Apple', 'Ball', 'Cat', 'Dog']

In [7]:
a=["Apple","Ball","Cat","Dog","Fish"]
a[0:5:2]

['Apple', 'Cat', 'Fish']

In [8]:
a=["Apple","Ball","Cat","Dog","Fish"]
a[0:4:2]

['Apple', 'Cat']

# While List is Ordered

In [9]:
a=["Apple","Ball","Cat","Dog","Fish"]
b=["Goat", "Fist"]
c=a+b
print(c)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat', 'Fist']

# Mutable Value

In [12]:
a=['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat', 'Fish']
a.append('Apple')
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat', 'Fish', 'Apple']

# 
append()
insert()
extend()

In [ ]:
# append() insert() extend()

In [1]:
a=['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat', 'Fish']
a.insert(1,'apple')
print(a)

['Apple', 'apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat', 'Fish']

In [5]:
a=['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat', 'Fish']
b=[1,2,3,4]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat', 'Fish', 1, 2, 3, 4]

In [1]:
a=list()
n=int(input("Enter n="))
for i in range (n):
    x=int(input("Enter x="))
    a.append(x)
print(a)

Enter n=5
Enter x=23
Enter x=45
Enter x=678
Enter x=890
Enter x=234
[23, 45, 678, 890, 234]

In [4]:
print("Sum= ",sum(a))
print("Max= ",max(a))
print("Min= ",min(a))

Sum=  1870
Max=  890
Min=  23

# Sort

In [5]:
print("Sum= ",sum(a))
print("Max= ",max(a))
print("Min= ",min(a))
a.sort()
print(a)

Sum=  1870
Max=  890
Min=  23
[23, 45, 234, 678, 890]

# Reverse (acending decending order)

In [7]:
print("Sum= ",sum(a))
print("Max= ",max(a))
print("Min= ",min(a))
a.sort()
print(a)
a.reverse()
print(a)

Sum=  1870
Max=  890
Min=  23
[23, 45, 234, 678, 890]
[890, 678, 234, 45, 23]

# List sort garda alphabetical order ma aauchaa (A,B,C....)

In [8]:
a=['Zebra', 'Apple', 'Ball', 'Xray', 'apple']
a.sort()
print(a)

['Apple', 'Ball', 'Xray', 'Zebra', 'apple']

In [9]:
a=['Zebra', 'Apple', 'Ball', 'Xray', 'apple']
for i in a:
    print(i)

Zebra
Apple
Ball
Xray
apple

In [11]:
a=['Zebra', 'Apple', 'Ball', 'Xray', 'apple']
for i in a:
    if i !='Ball':
        print(i)

Zebra
Apple
Xray
apple

In [13]:
a=['Zebra', 'Apple', 'Ball', 'Xray', 'apple']
value=input("Enter a=")
if value in a:
    print("Yes")
else:
    print("No")

Enter a=Apple
Yes

In [14]:
a=['Zebra', 'Apple', 'Ball', 'Xray', 'apple']
value=input("Enter a=")
if value in a:
    print("Yes")
else:
    print("No")

Enter a=ball
No

In [16]:
a=['Zebra', 'Apple', 'Ball', 'Xray', 'apple']
l=len(a)
for i in range(l):
    print(a[i])

Zebra
Apple
Ball
Xray
apple

In [17]:
a=['Zebra', 'Apple', 'Ball', 'Xray', 'apple']
l=len(a)
value=input("Enter value=")
for i in range(l):
    if a[i].lower()==value.lower():
        print("Yes")

Enter value=ball
Yes

In [20]:
a=['Zebra', 'Apple', 'Ball', 'Xray', 'apple']
l=len(a)
value=input("Enter value=")
for i in range(l):
    if a[i].lower()==value.lower():
        print("Yes")
        break
else:
    print("No")

Enter value=Apple
Yes

# Index search garne

In [21]:
a=['Zebra', 'Apple', 'Ball', 'Xray', 'Apple']
a.index('Zebra')

0

In [2]:
a=['Zebra', 'Apple', 'Ball', 'Xray', 'Apple']
for i in range(len(a)):
    print(i,a[i])

0 Zebra
1 Apple
2 Ball
3 Xray
4 Apple

In [3]:
a=['Zebra', 'Apple', 'Ball', 'Xray', 'Apple']
for i in range(len(a)):
    if a[i]=='Apple':
        print(i)

1
4

In [2]:
L = ['a', ['bb', 'cc'], 'd']
L[1][1] = 0
print(L)
# Prints ['a', ['bb', 0], 'd']

['a', ['bb', 0], 'd']