# List ma kasari values haru lai upgrade garne or hataune( Delete, Pop, Remove)

In [1]:
a=['Zebra','Apple','Ball','Xray','Apple']
a.index('Zebra')

0

In [3]:
a=['Zebra','Apple','Ball','Xray','Apple']
for i in range (len(a)):
    if a[i]=="Apple":
        print (i)

1
4

In [2]:
a=['Zebra','Apple','Ball','Xray','Apple']
for i in range(len(a)):
    if a [i]=="Ball":
        print(i)

2

In [3]:
a=['Zebra','Apple','Ball','Xray','Apple']
for i in range(len(a)):
    if a [i]=="Xray":
        print(i)

3

In [7]:
# Update values
a=['Zebra','Apple','Ball','Xray','Apple']
a[0:2]=['zebra', 'apple']
print(a)

['zebra', 'apple', 'Ball', 'Xray', 'Apple']

# HW(??)

In [7]:
# Update values
a=['Zebra','Apple','Ball','Xray','Apple']
a[0:3]=['zebra', 'apple','mango']
print(a)

['zebra', 'apple', 'mango', 'Xray', 'Apple']

In [5]:
a=['Zebra','Apple','Ball', 'Xray','Apple']
a[1:2]=['zebra','apple']
print(a)

['Zebra', 'zebra', 'apple', 'Ball', 'Xray', 'Apple']

In [6]:
a=['Zebra','Apple','Ball', 'Xray','Apple']
a[1:2]=['apple']
print(a)

['Zebra', 'apple', 'Ball', 'Xray', 'Apple']

In [8]:
#del remove() pop()
a=['Zebra','Apple','Ball','Xray','Apple']
del a[0:2]
print (a)

['Ball', 'Xray', 'Apple']

# PoP()

In [9]:
a=['Zebra','Apple','Ball','Xray','Apple']
a.pop(0)
print(a)

['Apple', 'Ball', 'Xray', 'Apple']

In [10]:
a=['Zebra','Apple','Ball','Xray','Apple']
b=a.pop(0)
print(b)
print(a)

Zebra
['Apple', 'Ball', 'Xray', 'Apple']

In [2]:
a=['Zebra','Guava','Apple','Ball','Xray','Apple']
b=a.pop(1)
print(b)
print(a)

Guava
['Zebra', 'Apple', 'Ball', 'Xray', 'Apple']

# Remove

In [12]:
a=['Zebra','Apple','Ball','Xray','Apple']
a.remove('Apple')
print(a)

['Zebra', 'Ball', 'Xray', 'Apple']

In [13]:
a=['Zebra','Apple','Ball','Xray','Apple']
a.remove('Zebra')
print(a)

['Apple', 'Ball', 'Xray', 'Apple']

In [17]:
a=['Zebra','Apple','Ball','Xray','Apple']
l=a.count('Apple')
for i in range(l):
    a.remove('Apple')
print(a)

['Zebra', 'Ball', 'Xray']

# Nested list (List inside List)

In [20]:
# Neted List (List inside List)
a=[[1,2,3],
  [4,5,6],
  [7,8,9]]
print(len(a))

3

In [1]:
a=[['Ram',34,'Kathmandu'],
  ['Shyam',21,'Lalitpur'],
  ['Hari',67,'Bhaktapur']]
print(a)

[['Ram', 34, 'Kathmandu'], ['Shyam', 21, 'Lalitpur'], ['Hari', 67, 'Bhaktapur']]

In [2]:
print(a[2])

['Hari', 67, 'Bhaktapur']

In [3]:
print(a[2][0])

Hari

In [4]:
print(a[0])

['Ram', 34, 'Kathmandu']

In [5]:
print(a[0][0])

Ram

In [6]:
print(a[1])

['Shyam', 21, 'Lalitpur']

In [11]:
print(a[1][0])

Shyam

In [14]:
a=list()
n=int(input("Enter n="))
for i in range(n):
    name=input("Enter name=")
    age=input("Enter age=")
    add=input("Enter add=")
    a.append([name,age,add])

Enter n=2
Enter name=Ram
Enter age=23
Enter add=Kathmandu
Enter name=Shyam
Enter age=45
Enter add=Lalitpur

In [15]:
print(a)

[['Ram', '23', 'Kathmandu'], ['Shyam', '45', 'Lalitpur']]

In [17]:
a=[['Ram', '23', 'Kathmandu'], ['Shyam', '45', 'Lalitpur']]
a.append(['Hari',45,'Kathmandu'])
print(a)

[['Ram', '23', 'Kathmandu'], ['Shyam', '45', 'Lalitpur'], ['Hari', 45, 'Kathmandu']]

In [3]:
a=[['Ram',34,'Kathmandu'],
  ['Shyam',21,'Lalitpur'],
  ['Hari',67,'Bhaktapur']]
for i in a:
    if 'Ram' in i:
        print("Yes")

Yes

In [2]:
a=[['Ram',34,'Kathmandu'],
  ['Shyam',21,'Lalitpur'],
  ['Hari',67,'Bhaktapur']]
name=input("Enter name=")
for i in a:
    if name in i:
        print("Yes")

Enter name=Ram
Yes

In [3]:
a=[['Ram',34,'Kathmandu'],
  ['Shyam',21,'Lalitpur'],
  ['Hari',67,'Bhaktapur']]
name=input("Enter name=")
for i in a:
    if name in i:
        print(i)

Enter name=Ram
['Ram', 34, 'Kathmandu']

# Update

In [4]:
a=a=[['Ram',34,'Kathmandu'],
  ['Shyam',21,'Lalitpur'],
  ['Hari',67,'Bhaktapur']]
a

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 21, 'Lalitpur'],
 ['Hari', 67, 'Bhaktapur']]

In [5]:
a=a=[['Ram',34,'Kathmandu'],
  ['Shyam',21,'Lalitpur'],
  ['Hari',67,'Bhaktapur']]
a[0]

['Ram', 34, 'Kathmandu']

In [3]:
a=[['Ram',34,'Kathmandu'],['Shyam',21,'Lalitpur'],['Hari',67,'Bhaktapur']]
a[0][0]='Ramesh'
print(a)

[['Ramesh', 34, 'Kathmandu'], ['Shyam', 21, 'Lalitpur'], ['Hari', 67, 'Bhaktapur']]

In [7]:
a=[['Ram',34,'Kathmandu'],['Shyam',21,'Lalitpur'],['Hari',67,'Bhaktapur']]
a=[a][0]=input("Enter Name")
print(a)

Enter NameRamesh
Ramesh

In [2]:
a=[['Ram',34,'Kathmandu'],['Shyam',21,'Lalitpur'],['Hari',67,'Bhaktapur']]
a[0]=['Rama',56,'Bara']
print(a)

[['Rama', 56, 'Bara'], ['Shyam', 21, 'Lalitpur'], ['Hari', 67, 'Bhaktapur']]

In [6]:
a=[['Ram',34,'Kathmandu'],['Shyam',21,'Lalitpur'],['Hari',67,'Bhaktapur']]
index=int(input("Enter index="))
a[index][0]=input("Enter Name")
a[index][1]=int(input("Enter age="))
a[index][2]=input("Enter add=")

Enter index=1
Enter NameShyam Sunder
Enter age=23
Enter add=Lalitpur

# Convert List to String

In [7]:
s=str()
all_total=0
i=0
n=int(input("Enter n="))
while i<n:
    product=input("Enter name=")
    price= int(input("Enter product price="))
    quantity=int(input("Enter quantity="))
    total=price*quantity
    all_total=all_total+total
    s=s+f"{product} {price} {quantity} {total}\n"
    i=i+1
    print(s)
    print("All total=",all_total)

Enter n=2
Enter name=name
Enter product price=299
Enter quantity=4
name 299 4 1196

All total= 1196
Enter name=raja
Enter product price=455
Enter quantity=4
name 299 4 1196
raja 455 4 1820

All total= 3016

In [8]:
s

'name 299 4 1196\nraja 455 4 1820\n'

In [9]:
'Apple 300 3 600\nBanana 200 3 600\n'

'Apple 300 3 600\nBanana 200 3 600\n'

# Split

In [10]:
s.split('\n')

['name 299 4 1196', 'raja 455 4 1820', '']

In [ ]:
s='Apple 300 2 600', 'Banana 200 3 600'

In [12]:
bill=[]
s='Apple 300 2 600\nBanana 200 3 600\n'
a=s.split('\n')[0:-1]
for i in a:
    x=i.split()
    print(x)
    bill.append(x)
bill

['Apple', '300', '2', '600']
['Banana', '200', '3', '600']

[['Apple', '300', '2', '600'], ['Banana', '200', '3', '600']]

In [13]:
bill=[]
s='Apple 300 2 600\nBanana 200 3 600\n'
a=s.split('\n')[0:-1]
for i in a:
    x=i.split()
    print(x)
    bill.append(x)
    print(bill)

['Apple', '300', '2', '600']
[['Apple', '300', '2', '600']]
['Banana', '200', '3', '600']
[['Apple', '300', '2', '600'], ['Banana', '200', '3', '600']]